{% extends "auctions/layout.html" %}
{% block title %}Create New{% endblock %}
{% block body %}
    <h2>New Listing</h2>
    <form method="POST" action="{% url 'create' %}">
        {% csrf_token %}
        {{ form }}
        <select name="category">
            {% for category in categories %}
            <option value="{{ category.category }}">{{ category.category }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Create"> 
    </form>
    
{% endblock %}